body{
    background-color: #1F1F1F;
    font-family: sans-serif, arial;
    color: white;
}

.jumbotron{
    background-color: #1F1F1F;
}
#principal{
    margin: 0 auto;
    width: 300px;
}
#principal a{
    display: flex;
}

